{% extends 'base.html' %}

{% block title %} Stepik Travel {% endblock %}

{% block container %}
          <h1 class="display-5 mt-4">Летим {{ departures[departure] }} </h1>
          <p class="mb-4">Найдено {{ tours|length }} туров, от {{ (tours.values()|min(attribute='price')).price }} до {{ (tours.values()|max(attribute='price')).price }} и от {{ (tours.values()|min(attribute='nights')).nights }} ночей до {{ (tours.values()|max(attribute='nights')).nights }} ночей</p>
          <!-- CARDS -->
         {% include 'cards.html' %}
{% endblock %}
